.wrapper {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    filter: drop-shadow(rgba(0, 0, 0, 0.16) 0 4px 16px);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 320px;

    .nickname {
        font-size: 1.8rem;
    }

    .name {
        font-size: 1.3rem;
        line-height: 2rem;
        margin-bottom: 3px;
    }

    .interactiveCount {
        font-size: 1.2rem;
        margin-bottom: 4px;

        .number {
            font-weight: bold;
            margin-right: 3px;
            margin-left: 5px;
        }
    }

    .btnFollow {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}