.wrapper {
    padding-top: 132.653%;
    position: relative;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;
    margin: 1px;

    .video {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        z-index: 1;
    }

    .viewsCount {
        position: absolute;
        bottom: 17px;
        left: 13px;
        z-index: 2;
        color: #fff;
        font-size: 1.6rem;

        .icon {
            margin-right: 4px;
        }
    }
}